$def with (scene, status)

$ game = tx.user.session.get('game')

(todo pull player name from games table)

<h2> Player Status </h2>

<p>
The player is currently in <b>$:scene</b>
</p>

Player's problems, edges, etc:

$:status

<h2> Leadouts </h2>

Player has found clues leading to todo and todo.

Other leadouts are todo and todo. These clues can lead there:

<ul>
  <li>foo</li>
  <li>bar</li>
</ul>


<h2>Read-Aloud Text</h2>

<h2>Remaining Clues</h2>


<h2> View All Data </h2>

$#<ul>
$#$for table in tables:
$#    <li> <a href="/gm/concepts/$table">$table</a> </li>
$#</ul>

<h2> Creative Support </h2>

<label>
  Click Me, Please (todo: show clue state on page load)
  <input id=clue-checkbox checked=false type=checkbox data-tag=example_clue onchange=uploadClue()>
  </input>
</label>

<div id=clue-container>
</div>

<label>
  Is Sadie's Visited?
  <input id=scene-checkbox checked=false type=checkbox data-tag=sadies_sob_story onchange=uploadScene()>
  </input>
</label>

<div id=scene-container>
</div>


<script>
function uploadClue() {
  let k = document.getElementById('clue-container')
  let box = document.getElementById('clue-checkbox')

  const data = {
    "tag": box.dataset.tag,
    "state": box.checked
  }

  fetch('/games/$game/upload-clue', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
  })
  .then(response => response.json())
  .then(success => {
    console.log('It worked:', success)
    if (success[data['tag']] === 'known') {
      k.innerHTML = 'Clue is <b>known</b>'
    }
    else {
      k.innerHTML = 'Clue is <b>unknown</b>'
    }
  })
  .catch((error) => {
    console.error('Error:', error)
  })

}

function uploadScene() {
  let k = document.getElementById('scene-container')
  let box = document.getElementById('scene-checkbox')

  const data = {
    "tag": box.dataset.tag,
    "state": box.checked
  }

  fetch('/games/$game/upload-scene', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
  })
  .then(response => response.json())
  .then(success => {
    console.log('It worked:', success)
    if (success[data['tag']] === 'visited') {
      k.innerHTML = 'Scene is <b>visited</b>'
    }
    else {
      k.innerHTML = 'Scene is <b>unvisited</b>'
    }
  })
  .catch((error) => {
    console.error('Error:', error)
  })

}
</script>
