$def with (games)

$ game = tx.user.session.get('game')
$if game:
    <a href=/games/$game>$game</a>
    <form method=post action=/leave>
    <button>
    Leave Game
    </button>
    </form>
$else:
    <form method=post action=/join>
        <ul>
        $for game in games:
            <li><label><input name=game value=$game['rowid'] type=radio>$game['rowid']</label></li>
        </ul>
        <button>
        Join Game
        </button>
    </form>

$if tx.user.session.get('game'):
    $ pass


$#$:status
$#
$#<p>
$#You have $status['pushes'] pushes remaining.
$#</p>
$#
$#<h2>
$#  Your Edges
$#</h2>
$#<ul>
$#  $for e in status['edges']
$#  <li>$e</li>
$#</ul>
$#
$#<h2>
$#  Your Problems
$#</h2>
$#<ul>
$#  $for e in status['problems']
$#  <li>$e</li>
$#</ul>
$#
$#
$#<h2>
$#  Your Items
$#</h2>
$#<ul>
$#  $for e in status['items']
$#  <li>$e</li>
$#</ul>
$#
$#
$#
$#
$#
$#<h2>
$#  Clues You've Collected
$#</h2>
$#
$#$for clue in clues:
$#    $clue
